body {
  background-color: #232830;
  color: #fff;
  font-family: "Poppins";
}

header {
  margin-bottom: 4rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-home {
  font-size: 18px;
}

.ul-navbar {
  display: flex;
}

.li-navbar {
  font-size: 16px;
  list-style: none;
  margin: 0 1rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Recursive";
  font-weight: 400;
  font-style: italic;
  font-size: 48px;
  color: #ff7575;
}

.subtitle {
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 4rem;
  font-weight: 400;
}

hr {
  color: #4d4d4d;
  opacity: 0.2;
}

.center-div {
  display: flex;
  justify-content: center;
}

.list-categories {
  display: flex;
}

.list-icons {
  margin: 0 0.25rem;
}

.ul-main-text {
  display: flex;
  padding: 0px;
}

.li-main-text {
  font-family: "Recursive";
  font-style: italic;
  font-size: 14px;
  color: #909090;
  list-style: none;
  margin: 0 1rem;
}

.contents {
  display: grid;
	grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 2rem;
}

.background-content {
  background-color: #fff;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5%;
}
